class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :archer_history do |t|
      t.string :user
      t.text :commands
      t.datetime :updated_at
    end

    add_index :archer_history, :user, unique: true
  end
end
